<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qingmei2.sample_androidtest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".a00index.A00IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".a01simple.A01SimpleActivity" />

        <activity android:name=".a02async.A02AsyncActivity" />

        <activity android:name=".a03list.A03ListActivity" />

        <activity android:name=".a04rotate.A04RotateActivity" />

        <activity
            android:name=".a05toolbar.A05ToolbarActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".a06_async_dialog_fragment.A06AsyncActivity2" />

    </application>

</manifest>