<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qingmei2.sample_androidtest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".a08_async_dagger2.MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".a00_index.A00IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".a01_simple.A01SimpleActivity" />
        <activity android:name=".a02_async_glide.A02AsyncActivity" />
        <activity android:name=".a03_list.A03ListActivity" />
        <activity android:name=".a04_rotate.A04RotateActivity" />
        <activity
            android:name=".a05_toolbar.A05ToolbarActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".a06_async_dialog_fragment.A06AsyncActivity2" />
        <activity android:name=".a07_async_okhttp.A07OkhttpActivity" />
        <activity android:name=".a08_async_dagger2.A08Dagger2Activity"/>
    </application>

</manifest>